.footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
}